<div class="py-2 w-full bg-black">
    <marquee class="text-sm">&mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM
        DEVELOPMENT
        &mdash; CREATIVE
        ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM DEVELOPMENT
        &mdash;
        CREATIVE ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM
        DEVELOPMENT
        &mdash; CREATIVE
        ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM DEVELOPMENT
        &mdash;
        CREATIVE ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM
        DEVELOPMENT
        &mdash; CREATIVE
        ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM DEVELOPMENT
        &mdash;
        CREATIVE ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM
        DEVELOPMENT
        &mdash; CREATIVE
        ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM DEVELOPMENT
        &mdash;
        CREATIVE ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM
        DEVELOPMENT
        &mdash; CREATIVE
        ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM DEVELOPMENT
        &mdash;
        CREATIVE ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM
        DEVELOPMENT
        &mdash; CREATIVE
        ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM DEVELOPMENT
        &mdash;
        CREATIVE ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM
        DEVELOPMENT
        &mdash; CREATIVE
        ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM DEVELOPMENT
        &mdash;
        CREATIVE ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM
        DEVELOPMENT
        &mdash; CREATIVE
        ENGINEERING &mdash; WEB DESIGN + WEB DEVELOPMENT &mdash; FRONTEND DEVELOPMENT &mdash; DESIGN SYSTEM DEVELOPMENT
        &mdash;
        CREATIVE ENGINEERING &mdash;
    </marquee>
</div>