<div class="flex items-center justify-center h-screen ">
    <div class="text-center">
        <h1 id="title" class="text-7xl md:text-9xl sm:text-6xl font-bold mb-6">Coming Soon</h1>
        <p id="message" class="text-gray-500 mb-8">working on something awesome. Stay tuned!</p>
        <h1 id="email" class="text-md font-bold mb-6"><a href="mailto:dumela@thabang.xyz">dumela@thabang.xyz</a></h1>
        <div class="text-center pt-44">
            <p id="copyright" class="text-xs font-bold">&copy; {{year}} thabang &nbsp; &nbsp; &nbsp; xyz</p>
        </div>
    </div>

</div>
<!-- <div class="bg"></div> -->